*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: white;
}

body{
    background-color: rgba(255, 255, 255, 0.432);
}

.--aligner{
    display: flex;
}

.right{
    background-image: url('../image/Photo1.png');
    background-position: center;
    background-attachment: fixed;
    background-position-x: right;
}

._content{
    height: fit-content;
}